body {
  margin: 0;
  background: black;
}

.main_page {
  display: flex;
  width: 60%;
  margin: auto;
  min-height: 100vh;
  overflow: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}